*{
    box-sizing: border-box;
}

body {
      font-family: Arial, sans-serif;
      font-size: 18px;
      line-height: 1.6;
      text-align: left;      
}

.note{
    color: steelblue;
    font-style: italic;
    background-color: palegoldenrod;
}

#main-paragraph{
    font-weight: bold;
    background-color: greenyellow;
}

/* Box model in practice */
.card{
    width: 300px;
    padding: 20px;
    margin: 30px;
    border: 2px solid #444;
    background-color: #f9f9f9;
}

div p {
    color: darkslategrey;
}

div > p {
    font-weight: bold;
}
p:hover{
    background-color: palegreen;
}
p::first-line{
    color:darkred
}